[Unit]
Description=Setup nextcloud trusted domains
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nextcloud_ip.sh
ExecStartPost=/bin/systemctl disable nextcloud_ip

[Install]
WantedBy=multi-user.target
